<ul class="tracking-widest">
  <li class="<%= active_class("/kala/lomi-lomi-nui") %> mb-1">
    <%= link_to t("lomi-lomi-nui"), "lomi-lomi-nui" %>
  </li>
  <li class="<%= active_class("/kala/pinda-sveda") %> mb-1">
    <%= link_to t("pinda-sveda"), "pinda-sveda" %>
  </li>
  <li class="<%= active_class("/kala/abhyanga") %> mb-1">
    <%= link_to t("abhyanga"), "abhyanga" %>
  </li>
  <li class="<%= active_class("/kala/dotyk-motyla") %> mb-1">
    <%= link_to t("butterfly-touch"), "dotyk-motyla" %>
  </li>
  <li class="<%= active_class("/kala/taniec-terapeutyczny") %> mb-1">
    <%= link_to t("therapeutic-dance"), "taniec-terapeutyczny" %>
  </li>
</ul>
