<ul class="tracking-widest">
  <li class="<%= active_class("/praca-z-cialem/lomi-lomi-nui") %>">
    <%= link_to t("lomi-lomi-nui"), "/lomi-lomi-nui", class: "hover:underline hover:text-teal-600" %>
  </li>
  <li class="<%= active_class("/lomi-lomi-nui") %>">
    <%= link_to t("lomi-lomi-nui"), "/lomi-lomi-nui", class: "hover:underline hover:text-teal-600" %>
  </li>
  <li class="<%= active_class("/praca-z-cialem/lomi-lomi-nui") %>">
    <%= link_to t("lomi-lomi-nui"), "/praca-z-cialem/lomi-lomi-nui", class: "hover:underline hover:text-teal-600" %>
  </li>
  <li class="<%= active_class("/praca-z-cialem/lomi-lomi-nui") %>">
    <%= link_to t("lomi-lomi-nui"), "/praca-z-cialem/lomi-lomi-nui", class: "hover:underline hover:text-teal-600" %>
  </li>
  <li class="<%= active_class("/praca-z-cialem/lomi-lomi-nui") %>">
    <%= link_to t("lomi-lomi-nui"), "/praca-z-cialem/lomi-lomi-nui", class: "hover:underline hover:text-teal-600" %>
  </li>
</ul>
