<label for="menu-toggle" class="cursor-pointer md:hidden block">
  <svg class="fill-current text-white hover:text-gray-400" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg>
</label>
<input class="hidden" type="checkbox" id="menu-toggle" />
<nav class="bg-gray-500 hidden md:flex font-bold md:text-xs lg:text-sm md:items-center justify-center md:w-auto w-full" id="menu" role="navigation">
  <ul class="md:flex items-center justify-around uppercase">
    <li class="<% if params[:controller] == "home" && params[:action] == "index" %>active <% end %>border-t md:border-0 md:ml-4">
      <a class="block md:inline hover:text-teal-400 py-4 md:py-0" href="/">home</a>
    </li>
    <li class="<% if params[:controller] == "home" && params[:action] == "about" %>active <% end %>border-t md:border-0 md:ml-4">
      <a class="block md:inline hover:text-teal-400 py-4 md:py-0" href="/o-mnie"><%= t "about" %></a>
    </li>
    <li class="<% if params[:controller] == "home" && params[:action] == "body" %>active <% end %>border-t md:border-0 md:ml-4">
      <a class="block md:inline hover:text-teal-400 py-4 md:py-0" href="/praca-z-cialem"><%= t "body" %></a>
    </li>
    <li class="<% if params[:controller] == "home" && params[:action] == "coaching" %>active <% end %>border-t md:border-0 md:ml-4">
      <a class="block md:inline hover:text-teal-400 py-4 md:py-0" href="/poradnictwo-psychologiczne"><%= t "coaching" %></a>
    </li>
    <li class="<% if params[:controller] == "home" && params[:action] == "workshops" %>active <% end %>border-t md:border-0 md:ml-4">
      <a class="block md:inline hover:text-teal-400 py-4 md:py-0" href="/warsztaty"><%= t "workshops" %></a>
    </li>
    <li class="<% if params[:controller] == "home" && params[:action] == "contact" %>active <% end %>border-t md:border-0 md:ml-4">
      <a class="block md:inline hover:text-teal-400 py-4 md:py-0" href="/kontakt"><%= t "contact" %></a>
    </li>
  </ul>
</nav>
