<label for="menu-toggle" class="absolute top-0 right-0 pt-4 pr-8 cursor-pointer md:hidden">
  <svg class="fill-current hover:text-gray-400" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg>
</label>
<input class="hidden" type="checkbox" id="menu-toggle" />
<nav class="hidden md:flex text-xs justify-center md:w-auto w-full md:my-4 lg:my-6 xl:my-10" id="menu">
  <ul class="md:flex uppercase tracking-widest text-center md:tracking-wider">
    <li class="<%= active_class("/o-mnie") %> border-t md:border-0 md:mr-4 lg:mr-12 xl:mr-24">
      <%= link_to t("about"), "/o-mnie", class: "block md:inline py-3 md:py-0" %>
    </li>
    <li class="<%= active_class("/poradnictwo-psychologiczne") %> border-t md:border-0 md:mr-4 lg:mr-12 xl:mr-24">
      <%= link_to t("coaching"), "/poradnictwo-psychologiczne", class: "block md:inline py-3 md:py-0" %>
    </li>
    <li class="<%= active_class("/lomi-lomi-nui") %> border-t md:border-0 md:mr-4 lg:mr-12 xl:mr-24">
      <%= link_to t("body"), "/lomi-lomi-nui", class: "block md:inline py-3 md:py-0" %>
    </li>
    <li class="<%= active_class("/warsztaty") %> border-t md:border-0 md:mr-4 lg:mr-12 xl:mr-24">
      <%= link_to t("workshops"), "/warsztaty", class: "block md:inline py-3 md:py-0" %>
    </li>
    <li class="<%= active_class("/galeria") %> border-t md:border-0 md:mr-4 lg:mr-12 xl:mr-24" data-turbolinks="false">
      <%= link_to t("gallery"), "/galeria", class: "block md:inline py-3 md:py-0" %>
    </li>
    <li class="<%= active_class("/kontakt") %> border-t md:border-0">
      <%= link_to t("contact"), "/kontakt", class: "block md:inline py-3 md:py-0" %>
    </li>
  </ul>
</nav>
