<label for="menu-toggle" class="flex justify-center cursor-pointer md:hidden pb-2">
  <svg class="fill-current text-white hover:text-gray-400" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg>
</label>
<input class="hidden" type="checkbox" id="menu-toggle" />
<nav class="bg-gray-500 hidden md:flex font-bold text-xs lg:text-sm justify-center md:w-auto w-full" id="menu" role="navigation">
  <ul class="md:flex uppercase">
    <li class="<%= active_class("/") %> border-t md:border-0 md:ml-4">
      <%= link_to "home", "/", class: "block md:inline hover:text-teal-400 py-4 md:py-0" %>
    </li>
    <li class="<%= active_class("/o-mnie") %> border-t md:border-0 md:ml-4">
      <%= link_to t("about"), "/o-mnie", class: "block md:inline hover:text-teal-400 py-4 md:py-0" %>
    </li>
    <li class="<%= active_class("/praca-z-cialem") %> border-t md:border-0 md:ml-4">
      <%= link_to t("body"), "/praca-z-cialem", class: "block md:inline hover:text-teal-400 py-4 md:py-0" %>
    </li>
    <li class="<%= active_class("/poradnictwo-psychologiczne") %> border-t md:border-0 md:ml-4">
      <%= link_to t("coaching"), "/poradnictwo-psychologiczne", class: "block md:inline hover:text-teal-400 py-4 md:py-0" %>
    </li>
    <li class="<%= active_class("/warsztaty") %> border-t md:border-0 md:ml-4">
      <%= link_to t("workshops"), "/warsztaty", class: "block md:inline hover:text-teal-400 py-4 md:py-0" %>
    </li>
    <li class="<%= active_class("/kontakt") %> border-t md:border-0 md:ml-4">
      <%= link_to t("contact"), "/kontakt", class: "block md:inline hover:text-teal-400 py-4 md:py-0" %>
    </li>
  </ul>
</nav>
