<div id="workshop_info">
  <article class="text-xs px-8 xl:pl-32 py-12">
    <div class="xl:w-1/2">
      <%= cms_fragment_render(:tekst_glowny, @cms_page) %>
    </div>
  </article>
</div>


<% @cms_page.children.published.each do |p| %>
<div id="<%= p.label.parameterize %>" style="display:none">
  <article class="text-xs px-8 xl:pl-32 py-12">
    <div class="xl:w-1/2">
      <h3 class="text-3xl tracking-widest my-6 xl:mb-12"><%= p.label %></h3>
      <%= cms_fragment_render(:opis_warsztatu, p) %>
    </div>
    <p class="pt-6"><a href="javascript:close('<%= p.label.parameterize %>')"><%= t 'close' %></a></p>
  </article>
  </div>
<% end %>
