<!DOCTYPE html>
<html>
  <head>
    <title>Kala - <%= @cms_page.label %></title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <meta name="description" content="Kala - wsparcie holistyczne. Poradnictwo psychologiczne, terapia ruchem, warsztaty i praca z ciałem.">
    <meta name="keywords" content="lomi lomi masaże kraków psycholog psychiatra pina sveda abhyanga taniec terapeutyczny dotyk motyla massage warsztaty ciało body help">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'lightbox-plus-jquery', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon-32.ico') %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156037124-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-156037124-1');
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
    <style>
      .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
      }
      .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
      }
    </style>
  </head>
  <body>
    <header class="container mx-auto pt-4 xl:pt-8 md:pb-0 relative">
      <div class="flex relative justify-center">
        <h1 class="pb-4 md:pb-0">
          <a href="/" title="Kala - <%= t("holistic-support") %>"><img src="../images/kala_logo.svg" alt="Kala - wsparcie holistyczne" id="logo" width="151" height="106" /></a>
        </h1>
        <div class="absolute flex-row-reverse md:flex-row left-0 ml-8 md:ml-0 md:left-auto md:right-0 top-0 flex mt-1 mr-4 xxl:mr-64">
          <div class="mt-1 ml-3 md:mr-4 md:ml-0 text-xs language-selector">
            <%= show_language_to_select %>
          </div>
          <%= render partial: "layouts/social_media_icons" %>
        </div>
      </div>
      <div id="app">
        <%= render partial: "layouts/navbar" %>
      </div>
    </header>
    <%= yield %>
    <footer class="text-center text-xs lg:text-sm mt-6 mb-8 lg:mt-8 mb-12 xl:mt-10 xl:mb-16 tracking-widest">
      <%= simple_format show_footer.upcase %>
    </footer>

<script>
  !function(e,t,r){"use strict";var n={};n.helpers={extendObj:function(){for(var e=1,t=arguments.length;e<t;e++)for(var r in arguments[e])arguments[e].hasOwnProperty(r)&&(arguments[e][r]&&arguments[e][r].constructor&&arguments[e][r].constructor===Object?(arguments[0][r]=arguments[0][r]||{},this.extendObj(arguments[0][r],arguments[e][r])):arguments[0][r]=arguments[e][r]);return arguments[0]}},n.countWords=function(e){return e.split(/\s+/).length},n.generateTrimmed=function(e,t){return e.split(/\s+/).slice(0,t).join(" ")+"..."},n.init=function(e){e=n.helpers.extendObj({},{target:"",numOfWords:50,toggle:!0,moreLink:"read more...",lessLink:"read less",linkClass:"rm-link",containerClass:!1},e);var r,i,s,o,a,l,c,d,u,h,m=t.querySelectorAll(e.target),g=m.length,f=[],L=[];for(o=0;o<g;o++)r=m[o].innerHTML,i=n.generateTrimmed(r,e.numOfWords),s=n.countWords(r),f.push(r),L.push(i),e.numOfWords<s-1&&(m[o].innerHTML=L[o],c=t.createElement("div"),e.containerClass&&(c.className=e.containerClass),c.innerHTML='<a id="rm-more_'+o+'" class="'+e.linkClass+'" style="cursor:pointer;" data-readmore="anchor">'+e.moreLink+"</a>",m[o].parentNode.insertBefore(c,m[o].nextSibling));for(a=0,l=(d=t.querySelectorAll('[data-readmore="anchor"]')).length;a<l;a++)d[a].onclick=function(){u=this.getAttribute("id"),h=u.split("_")[1],"true"!==this.getAttribute("data-clicked")?(m[h].innerHTML=f[h],!1!==e.toggle?(this.innerHTML=e.lessLink,this.setAttribute("data-clicked",!0)):this.innerHTML=""):(m[h].innerHTML=L[h],this.innerHTML=e.moreLink,this.setAttribute("data-clicked",!1))}},window.$readMoreJS=n}(0,this.document);
</script>

<script>
  $readMoreJS.init({
    target: '.readmore',
    numOfWords: 80,
    toggle: true,
    moreLink: '<%= t("more") %>',
    lessLink: '<%= t("less") %>',
    containerClass: 'pt-8'
  });
</script>

<script>
  new Vue({
    el: '#app',
    data: {
      isOpen: false
    }
  })
</script>

  </body>
</html>
