<!DOCTYPE html>
<html>
  <head>
    <title>Kala - <%= @cms_page.label %></title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon-32.ico') %>
    <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="container mx-auto pt-6 md:pt-8">
      <div class="flex relative justify-center">
        <h1>
          <a href="/kala" title="Kala - wparcie holistyczne"><img src="../images/kala_logo.svg" alt="Kala - wsparcie holistyczne" width="151" height="106" /></a>
        </h1>
        <div class="absolute right-0 top-0 flex mt-1 mr-4">
          <div class="mt-1 mr-4 text-xs">
            <%= show_language_to_select %>
          </div>
          <%= render partial: "layouts/social_media_icons" %>
        </div>
      </div>
      <%= render partial: "layouts/navbar" %>
    </header>

    <%= yield %>

    <footer class="text-center text-sm mt-10 mb-16 tracking-widest">
      <%= simple_format show_footer.upcase %>
    </footer>
  </body>
</html>
